.header{
    background-color: var(--white);
    padding: 86px 0 77px;

}

.header__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    color: var(--black-1);
}