/* Стилизация кнопки */
.button{
    border-radius: 8px;
    cursor: pointer;
}

.button_theme_primary{
    background-color: var(--blue-2);
    padding: 15px 62px 14px 63px; 
}

.button_theme_primary:hover{
    background-color: var(--blue-3);
}

.button_theme_secondary{
    background-color: var(--purple-1);
    padding: 15px 53px 14px 53px;
}

.button_theme_secondary:hover{
    background-color: var(--purple-2);
}

.button_theme_alternate{
    border:1px solid var(--grey-3);
    background-color: var(--white);
    padding: 15px 58px 14px 58px;
}

.button_theme_alternate:hover{
    border:1px solid var(--black);
    background-color: var(--white);
}

.button__title{    
    font-family: 'Roboto', serif;
    font-weight: 500;
    line-height: 18.75px;
    font-size: 16px;
    /* text-align: center; */
}

.button__title_primary_secondary{
    color: var(--white);
}

.button__title_alternate{
    color: var(--grey-4);
}

.button_disabled{
    opacity: 0.5;
    cursor: default;
    pointer-events: none;

}