@import '../fonts/fonts.css';
@import '../css/normalize.css';

:root {
    --white: #ffffff;
    --white_alternate: #E5E5E5;
    --black: #212429;
    --pink: #F784AD;
    --purple-1: #7048E8;
    --purple-2: #5028C6;
    --blue-1: #374FC7;
    --blue-2: #4263EB;
    --blue-3: #2342C0; 
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);
}

* {
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}