.skeleton{
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    padding: 24px 40px 32px 24px;
}

.skeleton__top{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;    
}

.skeleton__box{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 8px;
}

.skeleton__bottom{
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.skeleton__img{    
    background-color: var(--grey-2);
    border-radius: 50%;
    height: 64px;
    width:  64px;
    margin: 0 16px 0 0;
}

.skeleton__content{
    background-color: var(--grey-2);
    height: 20px;
    margin-bottom: 8px;
}

.skeleton__content:last-child {
    margin-bottom: 0;
}

.skeleton__content_100{
    width: 100%;
}

.skeleton__content_90{
    width: 90%;
}

.skeleton__content_55{
    width: 55%;
}

.skeleton__content_35{
    width: 35%;
}

