.tooltip{
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip__bubble{
    display: none;   
    background: #212429;
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 10px;    
    padding: 13px 21px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #DDE2E5;
    white-space: nowrap;
    position: absolute;    
    bottom: calc(100% + 8px);
    right: 50%;
    transform: translateX(50%);
}

.tooltip__bubble::before{
    content: "";
    border: 10px solid transparent;
    position: absolute;
    border-top: 7px solid #212429;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.tooltip__icon:hover + .tooltip__bubble{
    display: block;
}