.preview{
border-top: 1px solid var(--grey-2);
border-bottom: 1px solid var(--grey-2);
background-color: #F9FAFC;
display: grid;
grid-template-columns: repeat( auto-fill, minmax(164px, 164px));
gap: 16px;
padding: 22px 15px 133px 16px;
}

@media (min-width: 996px) {
}