.input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input__label {
    color: var(--gray-3, #ACB5BD);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.48px;
    text-transform: uppercase;
}

.input__field {
    display: inline-block; 
    width: 350px;
    height: 56px;
    border-radius: 6px;
    border: 2px solid rgba(221, 226, 229, 1);
    background-color: rgba(255, 255, 255, 1);
    padding: 17px 20px 13px 24px;
}

.input__field::placeholder {
    color: var(--gray-2, #DDE2E5);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.input__field:focus {
    border-color: rgba(66, 99, 235, 1);
    outline: none;
}

.input__fieldWrapper {
    position: relative;      
}

.input_success {
    
}

.input_success::placeholder {
    color: var(--gray-4, #495057);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.input_success_image {
    color: rgba(55, 79, 199, 1);
    position: absolute;
    top: 40%;
    transform: translateX(-15%);
}

.input__field_error {
    border-color: rgba(240, 61, 62, 1);
}

.input__field_error_image {
    color: rgba(240, 61, 62, 1);
    position: absolute;
    top: 40%;
    transform: translateX(-15%);
}

.input_error::placeholder {
    color: var(--gray-4, #495057);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

